.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #4A90E2 !important; 
}

.navbar {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.cart-dropdown-item {
   width: 300px !important; // Adjust as needed
    overflow: hidden;
    text-overflow: ellipsis;

    // To apply max-width and ellipsis for the title
    h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.icon {
    font-size: 20px;
    margin-right: 5px;
}

.badge-primary {
    background-color: #4A90E2;
}

.navbar-light .navbar-nav .nav-link {
    color: #4A90E2; 
    transition: all 0.2s;

    &:hover {
        background-color: #d1e4f7;
        color: white;
    }
}

.icon-with-count {
    display: flex;
    align-items: center;
    gap: 5px;
}