.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    
    .brand-logo {
        font-size: 24px;
        font-weight: bold;
        color: #4A90E2; /* Blue color for the brand logo. */
    }

    .nav-links {
        display: flex;
        gap: 15px;

        .icon-with-count {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px 15px;
            border-radius: 25px;
            cursor: pointer;
            transition: all 0.2s;

            .icon {
                font-size: 20px;
            }

            .count {
                font-size: 16px;
                color: #4A90E2;  /* Blue text for the count. */
                padding: 2px 5px;
                border-radius: 10px;
            }

            &:hover {
                background-color: #357ABD; /* Blue background on hover. */
                color: white;

                .count {
                    color: white;
                }
            }
        }

        a {
            text-decoration: none;
            color: #4A90E2; /* Blue text for the links. */
            padding: 5px 15px;
            border-radius: 25px;
            transition: all 0.2s;

            &:hover {
                background-color: #d1e4f7; /* Light blue background on hover. */
                color: white;
            }
        }
    }
}
